{% extends "base.html" %}

{% block content %}
<h2>Daily Nutrition Dashboard</h2>

<table class="table">
    <tr>
        <th>Calories Remaining</th>
        <td>{{ daily_goal.remaining_calories }}</td>
    </tr>
    <tr>
        <th>Protein Remaining</th>
        <td>{{ daily_goal.remaining_protein }}</td>
    </tr>
    <tr>
        <th>Fat Remaining</th>
        <td>{{ daily_goal.remaining_fat }}</td>
    </tr>
    <tr>
        <th>Carbs Remaining</th>
        <td>{{ daily_goal.remaining_carbs }}</td>
    </tr>
</table>

<a href="{{ url_for('meal.add_meal') }}" class="btn btn-primary">
    Add Meal
</a>
{% endblock %}

