{% extends "base.html" %}
{% block content %}
    <div class="starter-template">
        <h1>Login</h1>
        <p class="lead">Enter your username and password</p>
    </div>
    <div id="main">
        <form method="post" action="{{ url_for('auth.login') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="username">Username:</label>
            <input type="text" name="username" required><br/>
            
            <label for="password">Password:</label>
            <input type="password" name="password" required><br/>

            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}
